@charset "utf-8";
/*修改滚动条样式*/
*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  /**/
}
*::-webkit-scrollbar-button {
  display: none;
  /**/
}
*::-webkit-scrollbar-track {
  background: #f5f5f5;
  border-radius: 10px;
}
*::-webkit-scrollbar-thumb {
  background: #bfbfbf;
  border-radius: 10px;
}
*::-webkit-scrollbar-thumb:hover {
  background: #666;
}
*::-webkit-scrollbar-corner {
  background: #179a16;
}
* {
  border: medium none;
  margin: 0;
  padding: 0;
  font-weight: normal;
}
body,
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  min-width: 1280px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
em {
  font-style: normal;
}
ul,
ol,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  border: 0px;
  outline-width: 0px;
  vertical-align: top;
  max-width: 100%;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.stray {
  width: 920px;
}
.stray .stray_content {
  width: 100%;
  height: 83px;
  background: #fff;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  align-items: center;
}
.stray .stray_content .stray_date .calendar_week {
  width: 810px;
  height: 83px;
  background: #fff;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  align-items: center;
}
.stray .stray_content .stray_date .calendar_week .previous-period {
  width: 50px;
  height: 100%;
  cursor: pointer;
  border: none;
  background: #fff;
}
.stray .stray_content .stray_date .calendar_week .previous-period:hover {
  background: #f9f9f9;
}
.stray .stray_content .stray_date .calendar_week .previous-period span {
  background: url(images/previous-period.png) center center no-repeat;
  width: 100%;
  height: 100%;
  display: inline-block;
}
.stray .stray_content .stray_date .calendar_week .current-period {
  width: calc(100% - 100px);
  height: 100%;
  position: relative;
  overflow: hidden;
}
.stray .stray_content .stray_date .calendar_week .current-period .current-ul {
  width: 280%;
  height: 100%;
  position: absolute;
}
.stray .stray_content .stray_date .calendar_week .current-period .current-ul li {
  width: 80px;
  height: 100%;
  float: left;
  margin: 0 11px;
  cursor: pointer;
  text-align: center;
  border-bottom: 3px solid #fff;
  box-sizing: border-box;
  position: relative;
}
.stray .stray_content .stray_date .calendar_week .current-period .current-ul li .floor_price {
  width: 15px;
  height: 14px;
  background: url(special_offer.png) center center no-repeat;
  position: absolute;
  top: 7px;
  right: -10px;
}
.stray .stray_content .stray_date .calendar_week .current-period .current-ul li.s_curday {
  border-color: #2B4079;
}
.stray .stray_content .stray_date .calendar_week .current-period .current-ul li.s_curday .calendar-weekday,
.stray .stray_content .stray_date .calendar_week .current-period .current-ul li.s_curday .calendar-price .default,
.stray .stray_content .stray_date .calendar_week .current-period .current-ul li.s_curday span {
  color: #2B4079;
}
.stray .stray_content .stray_date .calendar_week .current-period .current-ul li .calendar-weekday {
  font-size: 14px;
  color: #333;
  padding-top: 15px;
}
.stray .stray_content .stray_date .calendar_week .current-period .current-ul li .calendar-price {
  padding-top: 10px;
  font-size: 16px;
  color: #333;
}
.stray .stray_content .stray_date .calendar_week .current-period .current-ul li .calendar-price .price_units {
  font-size: 14px;
  font-weight: bold;
}
.stray .stray_content .stray_date .calendar_week .current-period .current-ul li .calendar-price .default {
  font-size: 16px;
  color: #333;
  font-weight: bold;
}
.stray .stray_content .stray_date .calendar_week .after-period {
  width: 50px;
  height: 100%;
  cursor: pointer;
  border: none;
  background: #fff;
}
.stray .stray_content .stray_date .calendar_week .after-period:hover {
  background: #f9f9f9;
}
.stray .stray_content .stray_date .calendar_week .after-period span {
  background: url(images/after-period.png) center center no-repeat;
  width: 100%;
  height: 100%;
  display: inline-block;
}
.stray .stray_content .date_month {
  width: calc(100% - 810px);
  height: 83px;
  background: url(images/date-month.png) center 15px no-repeat;
  cursor: pointer;
  position: relative;
  border-left: 1px solid #eee;
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  padding-top: 50px;
  text-align: center;
}
.direct_strays {
  width: 270px;
}
.direct_strays img {
  width: 100%;
}
#date-price {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
}
#date-price > div {
  width: 100%;
  height: 100%;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
}
#date-price .minprice-oneway {
  width: 700px;
  background: #fff;
}
#date-price .minprice-oneway .date_month_module {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  box-sizing: border-box;
}
#date-price .minprice-oneway .date_month_module .date_month {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#date-price .minprice-oneway .date_month_module .date_month .last-month {
  width: 16px;
  height: 16px;
  background: url(images/previous-period-small-default.png) center center no-repeat;
  padding-right: 10px;
  cursor: pointer;
}
#date-price .minprice-oneway .date_month_module .date_month .last-month:hover {
  background: url(images/previous-period-small-now.png) center center no-repeat;
}
#date-price .minprice-oneway .date_month_module .date_month .next-month {
  width: 16px;
  height: 16px;
  background: url(images/after-period-small-default.png) center center no-repeat;
  padding-left: 10px;
  cursor: pointer;
}
#date-price .minprice-oneway .date_month_module .date_month .next-month:hover {
  background: url(images/after-period-small-now.png) center center no-repeat;
}
#date-price .minprice-oneway .date_month_module .date_month .minprice-month {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}
#date-price .minprice-oneway .date_month_module .close {
  width: 12px;
  padding: 6px;
  cursor: pointer;
}
#date-price .minprice-oneway .month-content {
  width: 700px;
  height: 410px;
  position: relative;
  overflow: hidden;
}
#date-price .minprice-oneway .month-content .tab-title {
  border: none;
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
}
#date-price .minprice-oneway .month-content .tab-title tbody tr {
  height: 50px;
}
#date-price .minprice-oneway .month-content .tab-title tbody tr th {
  font-size: 14px;
  color: #333;
  font-weight: bold;
}
#date-price .minprice-oneway .month-content .tab-title tbody tr th:nth-last-of-type(1),
#date-price .minprice-oneway .month-content .tab-title tbody tr th:nth-of-type(1) {
  color: #999;
}
#date-price .minprice-oneway .month-content .tab-calendar {
  position: relative;
  z-index: 1;
  top: 50px;
  width: 1400px;
}
#date-price .minprice-oneway .month-content .tab-calendar ul {
  width: 700px;
  float: left;
}
#date-price .minprice-oneway .month-content .tab-calendar ul li {
  position: relative;
  float: left;
  width: 100px;
  height: 60px;
  font-size: 14px;
}
#date-price .minprice-oneway .month-content .tab-calendar ul li .day {
  text-align: center;
  font-size: 14px;
  padding-top: 5px;
  color: #333;
  font-weight: bold;
}
#date-price .minprice-oneway .month-content .tab-calendar ul li .price {
  color: #333;
  text-align: center;
  font-size: 14px;
  padding-top: 5px;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
}
#date-price .minprice-oneway .month-content .tab-calendar ul li .floor_price {
  width: 15px;
  height: 14px;
  background: url(images/floor_price.png) center center no-repeat;
  padding-left: 5px;
}
#date-price .minprice-oneway .month-content .tab-calendar ul li.s_pass .day {
  color: #999 !important;
}
#date-price .minprice-oneway .month-content .tab-calendar ul li.s_pass .price {
  opacity: 0;
}
#date-price .minprice-oneway .month-content .tab-calendar ul li.s_day {
  cursor: pointer;
}
#date-price .minprice-oneway .month-content .tab-calendar ul li.s_day .price {
  font-size: 14px;
  color: #333;
}
#date-price .minprice-oneway .month-content .tab-calendar ul li.s_day:hover {
  background: #F3F6FF;
  border-radius: 2px;
}
#date-price .minprice-oneway .month-content .tab-calendar ul li.s_day:hover .day,
#date-price .minprice-oneway .month-content .tab-calendar ul li.s_day:hover .price {
  color: #2B4079 !important;
}
#date-price .minprice-oneway .month-content .tab-calendar ul li.s_curday {
  background: #2B4079;
  border-radius: 2px;
}
#date-price .minprice-oneway .month-content .tab-calendar ul li.s_curday .day,
#date-price .minprice-oneway .month-content .tab-calendar ul li.s_curday .price {
  color: #fff;
}
#date-price .minprice-oneway .month-content .tab-calendar ul li .price_red {
  color: #F43531 !important;
}
